__pycache__/
*.pyc
venv/
.venv/
.DS_Store
Thumbs.db
.vscode/
.env
.streamlit/secrets.toml
*.exe
*.pkg

# Ignore generic build outputs
**/build/**
**/dist/**

# BUT keep our Streamlit component bundles
!st_trading_draw/frontend/build/**
!st_trading_draw/frontend/dist/**
